<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>아이템 페이지</h1>
    <br />
    <h1><%= career.userName %></h1>
    <p><%= career.age %></p>
    <p><%= career.career %></p>
    <a href="/careers"> 뒤로가기</a>
  </body>
</html>
